notebooks/

toarray.egg-info/
toarray/__pycache__/
dist/
data/
build/
.vscode/
.ipynb_checkpoints/
__pycache__/
tests/__pycache__/
.venv*/
.ruff_cache/
.pytest_cache/
.mypy_cache/
.tox/
.coverage
.coverage.*
.coverage.*.*
.coverage.*.*.*
.coverage.*.*.*.*
.coverage.*.*.*.*.*
.coverage.*.*.*.*.*.*